In [ ]:
from scipy import stats
import pandas as pd
import numpy as np

In [ ]:
ls #displays files in current working folder

beml_df.csv  glaxo_df.csv  sample_data/

In [ ]:
import os
os.getcwd()

In [ ]:
glaxo_df=pd.read_csv('/content/glaxo_df.csv')
glaxo_df

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1616.80 -0.005444
1     2010-01-06  2010-01-06  1638.50  0.013422
2     2010-01-07  2010-01-07  1648.70  0.006225
3     2010-01-08  2010-01-08  1639.80 -0.005398
4     2010-01-11  2010-01-11  1629.45 -0.006312
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26  2723.50 -0.001283
1734  2016-12-27  2016-12-27  2701.75 -0.007986
1735  2016-12-28  2016-12-28  2702.15  0.000148
1736  2016-12-29  2016-12-29  2727.90  0.009529
1737  2016-12-30  2016-12-30  2729.80  0.000697

[1738 rows x 4 columns]

# **Confidence Interval using Normal Distribution**

In [ ]:
#Find confidence interval first using normal distribution
# here stats.norm.interval() will give you directly conf.interval for 95 % confidence. No need to do other calculations.
glaxo_df_ci = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print( 'Mean at 95% confidence interval is:', np.round(glaxo_df_ci, 4))
#For Glaxo max profit or loss can be expected in between -2.5% to 2.6% in a particular day.

In [ ]:
glaxo_df_ci

(-0.025800133293883098, 0.026572215459067686)

In [ ]:
beml_df=pd.read_csv('/content/beml_df.csv')
beml_df

In [ ]:
beml_df_ci=stats.norm.interval(0.95,loc = beml_df.gain.mean(),scale = beml_df.gain.std())
print( 'Mean at 95% confidence interval is:', np.round(beml_df_ci, 4))
#For BEML max profit or loss can be expected in between -5.1% to 5.2% in a particular day.

Mean at 95% confidence interval is: [-0.0515  0.0521]

In [ ]:
beml_df_ci

(-0.05153272968060136, 0.05207422583871583)

In [ ]:
glaxo_df

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1616.80 -0.005444
1     2010-01-06  2010-01-06  1638.50  0.013422
2     2010-01-07  2010-01-07  1648.70  0.006225
3     2010-01-08  2010-01-08  1639.80 -0.005398
4     2010-01-11  2010-01-11  1629.45 -0.006312
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26  2723.50 -0.001283
1734  2016-12-27  2016-12-27  2701.75 -0.007986
1735  2016-12-28  2016-12-28  2702.15  0.000148
1736  2016-12-29  2016-12-29  2727.90  0.009529
1737  2016-12-30  2016-12-30  2729.80  0.000697

[1738 rows x 4 columns]

# **Confidence interval using t-distribution**

In [ ]:
glaxo_df_ci=stats.t.interval(0.95,1737,
                             loc = glaxo_df.gain.mean(),
                             scale = glaxo_df.gain.std())
glaxo_df_ci #0.95 - confidence, 1737 - degrees of freedom, loc - mean, scale - std deviation

(-0.025818392673534002, 0.02659047483871859)

In [ ]:
beml_df_ci=stats.t.interval(0.95,1737,
                             loc = beml_df.gain.mean(),
                             scale = beml_df.gain.std())
beml_df_ci #0.95 - confidence, 1737 - degrees of freedom (n-1), loc - mean, scale - std deviation

(-0.05156885177136772, 0.05211034792948219)

In [ ]:
beml_df.gain.mean()

0.00027074807905723414

In [ ]:
beml_df.gain.std()

0.02643083146847484

In [ ]:
#Find confidence interval using t distribution - Credit card example
stats.t.ppf(0.975,139) # t value for 95% confidence
#stats.t.ppf(0.95,139) # t value for 90% confidence

1.977177724476122