In [ ]:
#import the libraries
import pandas as pd
import numpy as np
from scipy import stats

# Super Market example

In [ ]:
1-(stats.t.cdf(2.23,df=79))

0.014292908802574056

In [ ]:
# Call center example
#r=1-stats.t.cdf(1.4,49)
#r=stats.t.cdf(-1.4,49)
r=2*stats.t.cdf(-1.4,49)
#print(r)
#print(round(r,4))
print("Rounded Value=",round(r,4))

Rounded Value= 0.1678

# Call Center example

In [ ]:
import numpy as np
from scipy import stats

t=(4.6-4)/(3/np.sqrt(50)) # t value for x bar=4.6, mu=4, s=3, n=50
t

In [ ]:
p=2*stats.t.cdf(-1.41,49)
p

# One tail test

In [ ]:
# Ice-cream factory example
import pandas as pd
from scipy import stats

data=pd.Series([0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [ ]:
data

0    0.593
1    0.142
2    0.329
3    0.691
4    0.231
5    0.793
6    0.519
7    0.392
8    0.418
dtype: float64

In [ ]:
stats.ttest_1samp(data,0.3) # this command always gives you 2 tail p-value
# t-value=2.2050588385131595 and pvalue=0.05853032968489765 here, p = p1+p2
# index of t-value is 0 and p-value is 1

TtestResult(statistic=2.2050588385131595, pvalue=0.05853032968489765, df=8)

In [ ]:

p=stats.ttest_1samp(data,0.3)[1] # mu=0.3, index of p-value is 1, so [1] is given
# pvalue=0.05853032968489765 here, p = p1+p2
p

0.05853032968489765

In [ ]:
#As this is a one tail test p value so divide by 2 to get final p-value
p_value= p/2
p_value
# Null Hypo. is Mu<=0.3, Alter. Hypo. is Mu>0.3,
# Alfa = 0.05, P-value we got is 0.029 So p<alfa. So reject Null Hypo.
# So go for Alt. Hypo.
# interpret it: As mean value Mu >0.3 factory is causing problem.

0.029265164842448826

# Two Tail test

In [ ]:
# 2-Sample 2-tail test
# comparing drugs - Control group and treatment group
Control=pd.Series([91, 87, 99, 77, 88, 91])
Treat =pd.Series([101, 110, 103, 93, 99, 104])

In [ ]:
stats.ttest_ind(Control,Treat) # two tail independent
# p=p1+p2. We are conducting 2 sample 2 tail test, so no need to divide p by 2.
# p=0.006, alfa=0.05, p<alfa so reject null hypo. so accept alt. Hypo
# interpretation: 2 responses are not equal so drug is working.

Ttest_indResult(statistic=-3.4456126735364876, pvalue=0.006272124350809803)

# 2 Proportion Test

In [ ]:
import numpy as np

In [ ]:
#Data: Placement Data example

n1 = 247
p1 = .37 # proportion is 0.37

n2 = 308
p2 = .39 # proportion is 0.39

In [ ]:
population1 = np.random.binomial(1,  p1, n1) # 1 - placed i.e. probability of success, 0-not placed
population2 = np.random.binomial(1, p2, n2) # as its a random function every time you execute, you will get diff ans.

In [ ]:
population1 # 247 student's data. 0-not placed, 1-placed

array([1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0])

In [ ]:
population2

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0])

In [ ]:
import statsmodels.api as sm
sm.stats.ttest_ind(population1, population2)# middle is the p-value
# p>0.05 so accept null hypo.
# interpretation: students are almost equally got placed in 2 states.
# i.e. no significant difference in providing placement opportunities to students in 2 states.

(-1.4242168903337251, 0.1549477247067077, 553.0)

In [ ]:
import statsmodels.api as sm

a=0.05 # alpha

population1 = np.random.binomial(1, p1, n1)
population2 = np.random.binomial(1, p2, n2)

p=sm.stats.ttest_ind(population1, population2)[1]
print(p)
print(round(p,3))
if p>a:
  print(f'Accept null hypothesis\n--------------------------')
else:
  print(f'Failed to reject the null hypothesis\n-------------------')

0.011201459795809996
0.011
Failed to reject the null hypothesis
-------------------